<p>  
	<td><%= form.label :content, "Link" %> 
	  <%= form.text_field :'link',:value => nil %> </td> 
	<td><%= form.label :content, "link_description" %> 
	  <%= form.text_field :'link_description',:value => nil %></td>  
</p> 