<h1>Create new accommodation units </h1>



<table style="border: 1px solid #427BD6; text-align:center;"
height="22" width="100%" border="0" cellspacing="1" cellpadding="0">
<tr bgcolor="#57caff">

<td width="16%"><a class="textlink03" href="/search/find_entrys">Search</a></td>
<td width="16%"><a class="textlink03" href="/create_new_entry/new_entry">NEW accommodation</a></td>
<td width="16%"><a class="textlink03" href="#">NEW accommodation</a></td>
</tr></table>

<form action="/create_new_entry/create_entry_from_formdata" method="post">
	<table >
		<tr>
			<th ><h3>Anschrift</h3></th>
			<th></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="text" size="25" name="name">
			Name Einrichtung
			<br>
			</th>
			<th  align="left"></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="text" size="25" name="contact_person">
			Ansprechpartner
			<br>
			</th>
			<th  align="left">
			<input type="text" size="25" name="tel_contact_person">
			Tel. Ansprechpartner
			<br>
			</th>
		</tr>
		<tr>
			<th  align="left">
			<input type="text" size="25" name="street">
			Straße
			<br>
			</th>
			<th  align="left">
			<input type="text" size="4" name="house_number">
			Hausnr.
			<br>
			</th>
		</tr>
		<tr>
			<th  align="left">
			<input type="text" size="25" name="city">
			Stadt
			<br>
			</th>
			<th  align="left">
			<input type="text" size="6" name="postal_code">
			Postleitzahl
			<br>
			</th>
		</tr>
		<tr>
			<th ><h3>Kontakt</h3></th>
			<th ></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="text" name="email">
			Email
			<br>
			</th>
			<th  align="left">
			<input type="text" name="internetadress">
			Internetadresse
			<br>
			</th>
		</tr>
		<tr></tr>
		<tr>
			<th ><h3>weitere Eigenschaften</h3></th>
			<th ></th>
		</tr>
		
		<tr style="background: blue;">
			<th  align="left">			<textarea type="text" name="description"  cols="50" rows="10">  </textarea></th>
			<th  align="left">
			<br>
			Beschreibung
			<br>
			</th>
		</tr>
		<tr>
			<th  align="left">
			<input type="text" name="amount_of_rooms" value="1">
			Anz. Zimmer
			<br>
			</th>
			<th  align="left">
			<input type="text" name="max_group_size">
			max. Gruppengröße
			<br>
			</th>
		</tr>
		<tr>
			<th  align="left">
			<input type="text" name="-------" >
			----------
			<br>
			</th>
			<th  align="left">
			<input type="text" name="amount_of_lebenshilfe_stars">
			Lebenshilfesterne
			<br>
			</th>
		</tr>
		<tr>
			<th  align="left">
			<input type="text" name="latitude" >
			Latitude
			<br>
			</th>
			<th  align="left">
			<input type="text" name="longitude">
			Longitude
			<br>
			</th>
		</tr>
		<tr>
			<th ><h3>Vehrkersanbindung</h3></th>
			<th ></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			örtliche Busunternehmen (Rollstuhlbusse)
			<br>
			</th>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			offentlich Verkehrsmittel
			<br>
			</th>
		</tr>
		<tr>
			<th ><h3>In Einrichtung vorhanden</h3></th>
			<th ></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="internet" value="true">
			Internet
			<br>
			</th>
			<th  align="left">
			<input type="checkbox" name="zutat" value="pilze">
			Fernseher
			<br>
			</th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Beamer
			<br>
			</th>
			<th  align="left">
			<input type="checkbox" name="zutat" value="pilze">
			Gruppenraum
			<br>
			</th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Musikanlage
			<br>
			</th>
			<th  align="left">
			<input type="checkbox" name="zutat" value="pilze">
			Bettwäsche
			<br>
			</th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			DVD-Player
			<br>
			</th>
			<th  align="left"></th>
		</tr>
		<tr>
			<th ><h3>Freizeitbeschäftigungen</h3></th>
			<th ></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Spielplatz
			<br>
			</th>
			<th  align="left">
			<input type="checkbox" name="zutat" value="pilze">
			Kicker
			<br>
			</th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Tischtennis
			<br>
			</th>
			<th  align="left">
			<input type="checkbox" name="zutat" value="pilze">
			Bowling
			<br>
			</th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Reitmöglichkeit
			<br>
			</th>
			<th  align="left">
			<input type="checkbox" name="zutat" value="pilze">
			Schwimmhalle
			<br>
			</th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Freibad / See
			<br>
			</th>
			<th  align="left"></th>
		</tr>
		<tr>
			<th ><h3>Behindertengerecht</h3></th>
			<th ></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Lifter
			<br>
			</th>
			<th  align="left"></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Pflegebett
			<br>
			</th>
			<th  align="left"></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			rollstuhlgerechte Betten
			<br>
			</th>
			<th  align="left"></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Barrierefrei
			<br>
			</th>
			<th  align="left"></th>
		</tr>
		<tr>
			<th ><h3>Einrichtungen in der Nähe</h3></th>
			<th ></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Pflegedienst vor Ort
			<br>
			</th>
			<th  align="left"></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Einkaufmöglichkeiten (5km Radius)
			<br>
			</th>
			<th  align="left"></th>
		</tr>
		<tr>
			<th ><h3>Verpflegung</h3></th>
			<th ></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Vollverpflegung
			<br>
			</th>
			<th  align="left"></th>
		</tr>
		<tr>
			<th  align="left">
			<input type="checkbox" name="zutat" value="salami">
			Selbstversorgung
			<br>
			</th>
			<th  align="left"></th>
		</tr>
		<tr>
			<input type="submit" value="Erstellen" />
			<input type="reset" value="Abbrechen" />
		</tr>
	</table>
  
</form>